<!DOCTYPE html>
<html lang="pt-br">
<head>
    <!--!Exportação do head e definição do Título!-->
    <%- include('../partials/head'); %>
    <title>Página Inicial</title>
</head>
<body>
    <%- include('../partials/header'); %>
    
    <main>
        <h1>Seja bem-vindo!</h1>

        <!--Botão de saída-->
        <a href="/logout">
            <button class="btn btn-primary btn-xs">
                Sair
            </button>
        </a>
        
    </main>
    
    <footer>
        <%- include('../partials/footer'); %>
    </footer>
    
    <!--!Importação do Scripts-->
    <%- include('../partials/scripts'); %>
</body>
</html>
